*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'source sans 3', sans-serif;
	font-size: 14px;
	line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'source sans 3', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
.header{
	width: 100%;
	padding: 10px 0px;
	background: url("../images/banner.png") center top no-repeat;
	background-size: cover;
	background-color: #222831;
}
.header .navbar-expand-lg .navbar-nav .nav-link{
	color: #fff;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 600;
	margin: 0px 0px 0px 22px;
}
.header .navbar-expand-lg .navbar-nav .nav-link:hover, .header .navbar-expand-lg .navbar-nav .nav-link:focus{
	background: url("../images/line.png") center bottom no-repeat;
	background-size: auto;
} 

.header .navbar-nav .nav-link.active{
	background: url("../images/line.png") center bottom no-repeat;
	background-size: auto;
}
.banner{
	width: 100%;
	padding: 60px 0px;
}
.banner h1{
	font-size: 75px;
	font-weight: 600;
	font-style: italic;
	color: #fff;
	line-height: 1.3em;
}
.banner h4{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}
.banner p{
    font-size: 18px;
    color: #fff;
}
.banner .action-buttons .btn-primary{
	padding: 3px 16px;
    border-radius: 9px;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 800;
    background: #29a19c;
    border: 1px solid #29a19c;
    color: #fff;
}
.banner .action-buttons .btn-primary:hover{
	background: #08c;
	color: #fff;
}
.feature{
	width: 100%;
	padding: 10px 0px;
	background: url("../images/G.png") center top no-repeat;
	background-size: cover;
	background-color: #29a19c;
	
}
.feature{
	width: 100%;
	padding: 60px 0px;
}
.feature{
/*	background: #29a19c;*/
}
.feature h1{
	padding: 87px 90px;
	font-size: 80px;
	font-weight: 600;
	font-style: italic;
	margin-left: -85px;
	line-height: 1;	
	color: #fff;
	
}
.feature .action .btn-primary{
	padding: 3px 16px;
    border-radius: 9px;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 800;
    background: #222831;
    margin: -86px 34px 43px;
    text-align: center;
    border: 1px solid #222831;
    color: #fff;
}
.feature .action .btn-primary:hover{
	background: #da0964;
	color: #fff;
	border: 1px solid #da0964;
}
.feature img{
	 margin: 0pc 8px;
}
.feature p{
	margin: 22px;
    font-size: 16px;
    text-align: center;
    color: #fff;
}
.demo{
	width: 100%;
	padding: 10px 0px;
	background: url("../images/m3.png") center top no-repeat;
	background-size: cover;
	background-color: #222831;
}
.demo{
	width: 100%;
	padding: 180px 0px;
}
.demo p{
	font-size: 18px;
	margin: 0px 85px;
    color: #fff;
}
.demo img{
	padding: 10px;
}
.demo h1 span {
	margin: 0px 9pc;
	color: #08c;
}
.demo h1{
	padding: 15pc 10pc;
	font-size: 80px;
	font-weight: 600;
	font-style: italic;
	margin-left: -85px;
	line-height: 1;	
	color: #fff;
}
.demo .action-buttons .btn-primary{
	padding: 3px 16px;
    border-radius: 9px;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 800;
    background: #29a19c;
    margin: -22pc 10pc 61px;
    text-align: center;
    border: 1px solid #29a19c;
    color: #fff;
}
.demo .action-buttons .btn-primary:hover{
	background: #da0964;
	color: #fff;
	border: 1px solid #da0964;
}
.counter{
	width: 100%;
	padding: 10px 0px;
	background: url("../images/m5.png") center top no-repeat;
	background-size: cover;
	background-color: #222831;
}
.counter h1{
	padding: 6pc 4pc;
    font-size: 80px;
    font-weight: 600;
    font-style: italic;
    margin-left: -85px;
    line-height: 1;
    color: #fff;
}
.counter h1 span{
	color: #1065e4;
}
.counter .action-buttons .btn-primary{
	padding: 3px 16px;
    border-radius: 9px;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 800;
    background: #29a19c;
    margin: -4pc 0pc 61px;
    text-align: center;
    border: 1px solid #29a19c;
    color: #fff;
}
.counter .action-buttons .btn-primary:hover{
	background: #1065e4;
	color: #fff;
	border: 1px solid #1065e4;
}
.counter p{
	font-size: 18px;
	margin: 0px 85px;
	text-align: center;
    color: #fff;
}
.Voucher{
	width: 100%;
	padding: 60px 0px;
	background: url("../images/m7.png") center top no-repeat;
	background-size: cover;
	background-color: #222831;
}
.Voucher h1{
    font-size: 80px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    line-height: 1;
    color: #fff;
}
.Voucher img{
	margin: 0px 7pc;
}
.Voucher .action-buttons .btn-primary{
	padding: 3px 16px;
    border-radius: 9px;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 800;
    background: #29a19c;
    margin: 0pc 25pc;
    text-align: center;
    border: 1px solid #29a19c;
    color: #fff;
}
.Voucher .action-buttons .btn-primary:hover{
	background: #e50de5;
	color: #fff;
	border: 1px solid #e50de5;
}
.caption{
	width: 100%;
	padding: 30px 0px;
	background: url("../images/m10.png") center top no-repeat;
	background-color: #222831;
}
.caption h1{
    font-size: 60px;
    font-weight: 600;
    font-style: italic;
    margin: -57px;
    text-align: center;
    line-height: 1;
    color: #fff;
}
.caption h3{
	font-size: 40px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    margin: -52px;
    line-height: 1;
    color: #fff;
}
.caption p{
	font-size: 18px;
	padding: 65px;
    text-align: center;
    color: #fff;
    line-height: 1;
}
.caption h3{
	font-size: 40px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    line-height: 1;
    color: #fff;
}
.caption p{
	font-size: 19px;
	padding: 65px;
    text-align: center;
    color: #fff;
    line-height: 1;  
}
.caption img{
	margin: 60px 82px;
}
.object{
	width: 100%;
	padding: 60px 0px;
	background: url("../images/m11.png") center top no-repeat;
	background-color: #29a19c; 
}
.object h2{
	text-align: center;
	color: #fff;
}
.object .id h2{
	font-size: 65px;
	font-style: italic;
	color: fff;
}
.object .nav h2{
	font-size: 33px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    display: flex;
    margin: auto;
}
.object .lang h2{
	font-size: 37px;
    text-align: center;
    color: #fff;
}
.object .meta h2{
	font-size: 33px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}
.object .link h2{
	font-size: 37px;
    text-align: center;
    color: #fff;
}
.object .stvle{
	padding: 10pc;
	text-align: center;
}
.object .stvle span{
	font-size: 33px;
	font-weight: 700;
}
/*.Need{
	width: 100%;
	padding: 180px 0px;
	background: url("../images/m15.png") center top no-repeat;
	background-color: #222831;
	height: 100vh;
}*/
.Need{
	background-color: #222831;
}
.Need h1{
	padding: 30px;
	font-size: 62px;
	font-weight: 600;
	font-style: italic;
	text-align: center;
	color: #fff;
}
.Need .action-buttons .btn-primary{
	padding: 3px 16px;
    border-radius: 9px;
    font-size: 24px;
    margin: 34px 62px;
    letter-spacing: 1px;
    font-weight: 800;
    background: #29a19c;
    text-align: center;
    border: 1px solid #29a19c;
    color: #fff;
}
.Need .action-buttons .btn-primary:hover{
	background: #071b9d;
	color: #fff;
	border: 1px solid #071b9d;
}
.Need .our .btn-primary{
	padding: 3px 28px;
    border-radius: 9px;
    font-size: 24px;
    margin: 34px 62px;
    letter-spacing: 1px;
    font-weight: 800;
    background: #29a19c;
    text-align: center;
    border: 1px solid #29a19c;
    color: #fff;
}
.Need .our .btn-primary:hover{
	background: #0aea33;
	color: #fff;
	border: 1px solid #0aea33;
}
.Need .index .btn-primary{
	padding: 3px 47px;
    border-radius: 9px;
    font-size: 24px;
    margin: 34px 62px;
    letter-spacing: 1px;
    font-weight: 800;
    background: #29a19c;
    text-align: center;
    border: 1px solid #29a19c;
    color: #fff;
}
.Need .index .btn-primary:hover{
	background: #077096;
	color: #fff;
	border: 1px solid #077096;
}
.Need p{
	font-size: 13px;
    color: #fff;
    line-height: 1.7em;
    text-align: center;
    margin: 0px 0px 0px -89px;
}

/* About page css code start */
.About{
	width: 100%;
	float: left;
	padding: 80px 0px;
}
.About h1{
	font-size: 42px;
	line-height: 1.3em;
	font-weight: 600;
	margin: 0px 0px 10px;
	color: #fff;
}
.About p{
	font-size: 14px;
	line-height: 1.7em;
	margin: 0px 0px 10px;
	color: #fff;
}
/* About page css code end */


/* Contact page css code start */
.shori{
	width: 350px;
	height: 380px;
	background: #08c;
	padding: 10px;
	margin: 100px auto;
	box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
	border-bottom-right-radius: 80px;
	border-top-left-radius: 80px;
	border: 1px solid rgb(139, 83, 73,);
}
.shori{

}
.shori .again .input{
	color: #1346ed;
	width: 60px;
}
 
.sub h1{
	font-size: 31px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}
.input .textarea{
	width: 100%;
	padding: 7px;
	border: none;
	outline: none;
	display: block;
	border-radius: 4px;
	margin-bottom: 10px;
	border: 1px solid #0b22d4;
}
.shori .action-buttons .btn-primary{
	padding: 3px 47px;
    border-radius: 9px;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 800;
    background: #26d40b;
    text-align: center;
    border: 1px solid #26d40b;
    color: #fff;
}
.shori .action-buttons .btn-primary:hover{
	background: #e30dd9;
	color: #fff;
	border: 1px solid #e30dd9;
}
/* Contact page css code end */
.footer{
	width: 100%;
	padding: 10px 0px;
	background: url("../images/.png") center top no-repeat;
	background-color: #29a19c;
}
.footer .title img{
	width: 40%;
    height: 40%;
    margin: 28px 55px;
}
.footer h1{
	font-size: 30px;
	font-weight: 600;
	font-style: italic;
	text-align: center;
	color: #fff;
}
.footer .Branches{
	font-size: 17px;
    color: #fff;
    margin: 37px 89px;
    line-height: 1.7em;
}
.footer .dir{
	font-size: 17px;
    color: #fff;
    margin: 37px 89px;
    line-height: 1.7em;
}
.footer .style{
	font-size: 19px;
    margin: 56px 89px;
    line-height: 1.7em;
    letter-spacing: 12px;
    color: #fff;
} 

